apiVersion: apps/v1
kind: Deployment
metadata:
  name: valheim-server
  labels:
    app: valheim-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: valheim-server
  template:
    metadata:
      labels:
        app: valheim-server
    spec:
      containers:
      - name: valheim-server
        image: benenb/valheim-box64:0.0.4
        ports:
        - name: game
          containerPort: 2456
          protocol: UDP
        - name: query
          containerPort: 2457
          protocol: UDP
        env:
        - name: VALHEIM_PASSWORD
          valueFrom:
            secretKeyRef:
              name: valheim-server-secret
              key: server-password
              optional: true
        envFrom:
        - configMapRef:
            name: valheim-server-config
        volumeMounts:
        - name: server-data
          mountPath: /root/.config/unity3d/IronGate/Valheim/
        - name: server-files
          mountPath: /root/server_files
        resources:
          requests:
            memory: "512Mi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "2000m"
      volumes:
      - name: server-data
        persistentVolumeClaim:
          claimName: valheim-server-data
      - name: server-files
        persistentVolumeClaim:
          claimName: valheim-server-files

