apiVersion: v1
kind: Service
metadata:
  name: valheim-server
  labels:
    app: valheim-server
spec:
  type: LoadBalancer
  selector:
    app: valheim-server
  ports:
  - name: game
    port: 2456
    targetPort: 2456
    protocol: UDP
  - name: query
    port: 2457
    targetPort: 2457
    protocol: UDP

